<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.packager.user">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission. ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".Receivers.NewPackageService"/>
<!--        <service android:name=".CheckConnectionService"/>-->
            
<!--            android:description="Service for informing that new package added"-->
        <receiver android:name=".BroadCast.NewPackageBroadcastReceiver">
            <intent-filter>
                <action android:name="new_package_service"/>
                <action android:name="no_internet_connection"/>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
            </intent-filter>
        </receiver>

        <activity android:name=".UI.Login.LoginPhoneActivity"></activity>
        <activity
            android:name=".UI.Home.NewHomeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".data.HomeActivity" />
        <activity android:name=".UI.Register.RegisterActivity" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".UI.Login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>